/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 10, 10, 10;
}

html {
  color-scheme: dark;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

::selection {
  background: rgba(255, 255, 255, 0.1);
}
